<div class="parent">
    <div class="container w-100" id="services">
        <div class="col-12 mt-5 text-center">
            <h2 class="mt-5">Services</h2>

            <div class="row mt-4">
                <div class="col-md-6 mb-4" *ngFor="let service of services">
                    <div class="card border-0 shadow h-100">
                        <div class="card-body d-flex align-items-center p-4">
                            <span class="icon-style me-3"><i [ngClass]="service.icon"></i></span>
                            <div>
                                <h5 class="card-title mb-2">{{ service.title }}</h5>
                                <p class="card-text">{{ service.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>