<footer class="footer bg-warning mt-5">
    <div class="container">
        <div class="row py-4">

            <div class="col-md-3 mb-3">
                <h3 class="footer-title">My Address</h3>
                <p>
                    Shubh Kalash CHS, Plot no-35, Flat no-304,<br>
                    Sector-10E, Roadpali, Kalamboli,<br>
                    Navi Mumbai-410218, Maharashtra.
                </p>
            </div>

            <div class="col-md-6 mb-3">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Services</h3>
                        <ul class="list-unstyled">
                            <li><a href="#service" class="text-decoration-none text-dark">C/C++</a></li>
                            <li><a href="#service" class="text-decoration-none text-dark">Web dev</a></li>
                            <li><a href="#service" class="text-decoration-none text-dark">Database</a></li>
                            <li><a href="#service" class="text-decoration-none text-dark">Java</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Softwares</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://code.visualstudio.com/" class="text-decoration-none text-dark"
                                    target="_blank" rel="noopener no-referrer">Vs code</a></li>
                            <li><a href="https://www.eclipse.org/" class="text-decoration-none text-dark"
                                    target="_blank" rel="noopener no-referrer">Eclipse</a></li>
                            <li><a href="https://www.mysql.com/" class="text-decoration-none text-dark" target="_blank"
                                    rel="noopener no-referrer">MySQL Workbench</a></li>
                            <li><a href="https://www.postman.com/" class="text-decoration-none text-dark"
                                    target="_blank" rel="noopener no-referrer">Postman</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#home" class="text-decoration-none text-dark">Home</a></li>
                            <li><a href="#service" class="text-decoration-none text-dark">Services</a></li>
                            <li><a href="#about" class="text-decoration-none text-dark">About</a></li>
                            <li><a href="#tech" class="text-decoration-none text-dark">Skills</a></li>
                            <li><a href="#portfolio" class="text-decoration-none text-dark">Portflio</a></li>
                            <li><a href="#contact" class="text-decoration-none text-dark">Contact me</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <h3 class="footer-title">Follow me</h3>
                <a href="https://instagram.com/guptaji_99" class="text-decoration-none text-dark me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" class="text-decoration-none text-dark me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/rajeev-gupta-96a32b276/"
                    class="text-decoration-none text-dark me-3" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/rajeevgi" class="text-decoration-none text-dark me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a href="https://wa.me/+917208918300" class="text-decoration-none text-dark" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </a>
            </div>

        </div>
    </div>
</footer>