<footer class="footer bg-warning mt-5">
    <div class="container">
        <div class="row py-4">

            <div class="col-md-3 mb-3">
                <h3 class="footer-title">My Address</h3>
                <p>
                    Roadpali, Kalamboli,<br>
                    Navi Mumbai-410218, Maharashtra.
                </p>
            </div>

            <div class="col-md-6 mb-3">
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Services</h3>
                        <ul class="list-unstyled">
                            <li><a href="#service">C/C++</a></li>
                            <li><a href="#service">Web dev</a></li>
                            <li><a href="#service">Database</a></li>
                            <li><a href="#service">Java</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Softwares</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://code.visualstudio.com/"
                                    target="_blank" rel="noopener no-referrer">Vs code</a></li>
                            <li><a href="https://www.eclipse.org/"
                                    target="_blank" rel="noopener no-referrer">Eclipse</a></li>
                            <li><a href="https://www.mysql.com/" target="_blank"
                                    rel="noopener no-referrer">MySQL Workbench</a></li>
                            <li><a href="https://www.postman.com/" target="_blank" rel="noopener no-referrer">Postman</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <h3 class="footer-title">Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#service">Services</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#Skills">Tech Stack</a></li>
                            <li><a href="#projects">Projects</a></li>
                            <li><a href="#contact">Contact me</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <h3 class="footer-title">Follow me</h3>
                <a href="https://instagram.com/guptaji_99" class="me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/" class="me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/rajeev-gupta-96a32b276/"
                    class="me-3" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/rajeevgi" class="me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a href="https://wa.me/+917208918300" class="me-3" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-square-whatsapp"></i>
                </a>
            </div>

        </div>
    </div>
</footer>