<div class="parent">
    <div class="container w-75 mt-5 justify-content-center" id="Skills">
      <div class="row mx-auto">
        <div class="col-12 mb-3 position-relative">
          <div class="row">
            <h3 class="text-center mt-3 fw-bold">My Tech Stacks</h3>
            <p class="text-center">Technologies I work with</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row p-3 justify-content-center">
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/c.png" alt="C" class="img-fluid">
              <p>C</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/c++.png" alt="C++" class="img-fluid">
              <p>C++</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/html5.png" alt="HTML5" class="img-fluid">
              <p>HTML5</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/css-3.png" alt="CSS" class="img-fluid">
              <p>CSS3</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/js-file.png" alt="JavaScript" class="img-fluid">
              <p>JavaScript</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/media.png" alt="Bootstrap" class="img-fluid">
              <p>Bootstrap</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/java.png" alt="Java" class="img-fluid">
              <p>Java</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/spring-boot.png" alt="Spring Boot" class="img-fluid">
              <p>Spring Boot</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/mysql.png" alt="MySQL" class="img-fluid">
              <p>MySQL</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/Angular.png" alt="Angular" class="img-fluid">
              <p>Angular</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/NodeJs.png" alt="Node.js" class="img-fluid">
              <p>Node.js</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/typescript.png" alt="TypeScript" class="img-fluid">
              <p>TypeScript</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 skill-box">
              <img src="../../../assets/images/mongodb.png" alt="MongoDB" class="img-fluid">
              <p>MongoDB</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  