<div class="container w-75 mt-5" id="about">
    <div class="text-center mb-4">
        <h3>About Me</h3>
        <hr class="mx-auto" style="width: 50px; height: 3px; background: #ffc107; border: none;">
    </div>
    <div class="row p-5">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Full Stack Developer</h5>
                    <p class="card-text">Highly Motivated Full Stack Java Developer. Recent Graduate | Eager to Learn &
                        Build Amazing Things.</p>
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">I'm Rajeev R. Gupta, a recent graduate from Pillai College Of Engineering, New
                        Panvel with a Bachelor's degree in Electronics And Telecommunication Engineering. Passionate
                        about Java & web development.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="../../../assets/images/my-image.jpg" class="img-fluid rounded mb-3" alt="Rajeev's LinkedIn Picture">
            <a href="#contact" class="btn btn-warning">Contact Me</a>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">Developed responsive websites using HTML, CSS, Javascript, and Bootstrap.</p>
                    <p class="card-text">Built a personal portfolio website showcasing my web development skills.</p>
                    <p class="card-text">Developed projects in C, C++, and Java.</p>
                    <p class="card-text">Created SQL-based management systems using MySQL.</p>
                    <p class="card-text">Contact me at <a
                            href="mailto:rajivg216&#64;gmail.com"><b>rajivg216&#64;gmail.com</b></a> for opportunities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

