<div class="parent">
    <section class="portfolio-section">
        <div class="container">
            <h2 class="mb-5">My Portfolio</h2>
            <div class="portfolio-content">
                <div class="portfolio-text">
                    <h2>I am Rajeev</h2>
                    <p class="typing-effect">A Full Stack developer in java, exploring the world of Web technologies </p>
                </div>
                <div class="portfolio-image">
                    <img src="../../../assets/images/my-image.jpg" alt="Portfolio">
                </div>
            </div>
        </div>
    </section>
</div>

<router-outlet></router-outlet>


